.card {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    border: 1px solid green;
    margin: 10px 0;
    padding: 20px;
}

.cardLeft {
    text-align: left;
}

.cardRight {
    text-align: left;
    width: 100%;
}

.card button {
    width: 180px;
}

.authors {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.buttonBlock {
    display: flex;
    justify-content: center;
}